@use "sass:math";
@import "config";
@import "ui";

// COMPONENTS
@import "components/header";
@import "components/footer";
@import "vandor/tippy";

// COMMON STYLES
.page {
  flex: 1 1 auto;
  // .page__main
  &__main {
  }
  // .page__section-2
  &__section-2 {
  }
  // .page__section-3
  &__section-3 {
  }
  // .page__section-4
  &__section-4 {
  }
  // .page__internal-section
  &__internal-section {
  }
}

// Main
.main {
  // .main__container
  &__container {
  }
  // .main__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 200px;
    @media (max-width: $md3 + px) {
      padding-top: 65px;
    }
    @media (max-width: $md4 + px) {
      padding-top: 55px;
    }
    @media (min-width: 1200px) and (max-height: 900px) {
      margin-bottom: 354px;
      padding-top: 70px;
    }
    @media (min-width: 1702px) and (max-height: 900px) {
      margin-bottom: 601px;
    }
  }
  // .main__logo
  &__logo {
    position: relative;
    z-index: 1;
    width: 1181px;
    margin-bottom: -182px;
    transform: translate(-44px, 0px);
    transition: filter .3s ease 0s;
    img {
      max-width: 100%;
    }
    &:hover {
      filter: brightness(116%);
    }
    @media (max-width: $md1 + px) {
      width: 900px;
      margin-bottom: -134px;
    }
    @media (max-width: $md3 + px) {
      width: 700px;
      margin-bottom: -108px;
      transform: translate(-31px, 0px);
    }
    @media (max-width: $md4 + px) {
      width: 442px;
      margin-bottom: -58px;
      transform: translate(-19px, 0px);
    }
    @media (min-width: 1200px) and (max-height: 900px) {
      width: 782px;
    }
  }
  // .main__info-block
  &__info-block {
    margin: 0 auto;
    max-width: 800px !important;
    @media (max-width: $md3 + px) {
      max-width: 600px !important;
    }
    @media (max-width: $md4 + px) {
      max-width: 280px !important;
    }
  }
  // .main__capabilitys
  &__capabilitys {
    margin-top: 233px;
    @media (max-width: $md1 + px) {
      margin-top: 152px;
    }
    @media (max-width: $md2 + px) {
      margin-top: 181px;
    }
    @media (max-width: 823px) {
      margin-top: 184px;
    }
    @media (max-width: 787px) {
      transform: translateY(-50px);
    }
    @media (max-width: $md3 + px) {
      margin-top: 149px;
      transform: translateY(-76px);
    }
    @media (max-width: 521px) {
      transform: translateY(-107px);
    }
    @media (max-width: $md4 + px) {
      margin-top: 117px;
      transform: translateY(-46px);
    }
  }
}

.capabilitys {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  // .capabilitys__item
  &__item {
    flex: 0 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px;
    cursor: pointer;
    &:hover {
      .capabilitys__image,
      .capabilitys__name {
        filter: brightness(136%);
      }
    }
    @media (max-width: $md2 + px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: $md4 + px) {
      padding: 0 10px 10px;
    }
  }
  // .capabilitys__image
  &__image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    @include adaptiv-value("width", 57, 36, 1);
    @include adaptiv-value("height", 57, 36, 1);
    transition: filter .3s ease 0s;
    img {
      max-width: 100%;
    }
  }
  // .capabilitys__name
  &__name {
    margin-left: 7px;
    padding-top: 3px;
    font-family: AlbertusMedium, sans-serif;
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 1;
    color: $palette_text_capabilitys;
    text-transform: uppercase;
    transition: filter .3s ease 0s;
  }
}

// Info Block
.info-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 940px;
  // .info-block_right
  &_right {
    align-items: flex-end;
    padding-right: 50px;
    @media (max-width: $md2 + px) {
      padding-right: 0;
    }
    .info-block__title,
    .info-block__descr {
      text-align: right;
    }
    .info-block__decor {
      background: url('../img/decor_02.png') center right /contain no-repeat;
    }
    .info-block__decor-right {
      position: absolute;
      top: -55px;
      right: 0;
      width: 100%;
      height: 122%;
      background: url('../img/decor_03.png') center /contain no-repeat;
      @media (max-width: $md2 + px) {
        display: none;
      }
    }
    .info-block__items {
      justify-content: flex-end;
    }
  }
  // .info-block__shadow
  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    pointer-events: none;
    &_1 {
      width: 220%;
      height: 220%;
      background: url('../img/shadow_01.png') center bottom /contain no-repeat;
      transform: translate(-38%, -18%);
      @media (max-width: $md3 + px) {
        width: 180%;
        height: 180%;
        // top: -130px;
        top: -165px;
        left: auto;
        right: -31px;
        transform: translate(0, 0);
      }
    }
    &_2 {
      width: 240%;
      height: 240%;
      background: url('../img/shadow_02.png') center bottom /contain no-repeat;
      transform: translate(-41%, -23%);
      @media (max-width: $md3 + px) {
        display: none;
      }
    }
    &_3 {
      width: 240%;
      height: 240%;
      background: url('../img/shadow_03.png') center bottom /contain no-repeat;
      transform: translate(-36%, -48%);
      @media (max-width: $md3 + px) {
        display: none;
      }
    }
    &_4 {
      width: 180%;
      height: 180%;
      background: url('../img/shadow_04.png') center bottom /contain no-repeat;
      transform: translate(-26%, -26%);
      @media (max-width: $md3 + px) {
        display: none;
      }
    }
    &_6 {
      width: 240%;
      height: 240%;
      background: url('../img/shadow_06.png') center bottom /contain no-repeat;
      transform: translate(-16%, -19%);
      @media (max-width: $md3 + px) {
        display: none;
      }
    }
  }
  // .info-block__title
  &__title {
    position: relative;
    z-index: 1;
    text-shadow: 0 0 20px #000;
    font-family: AlbertusExtraBold, sans-serif;
    font-size: 70px;
    color: $palette_text_title;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    span {
      display: block;
      font-size: 60px;
      color: $palette_text_subtitle;
      @media (max-width: $md4 + px) {
        font-size: 25px;
      }
    }
    @media (max-width: $md1 + px) {
      font-size: 65px;
      span {
        font-size: 55px;
      }
    }
    @media (max-width: $md2 + px) {
      font-size: 51px;
      span {
        font-size: 41px;
      }
    }
    @media (max-width: $md3 + px) {
      font-size: 42px;
      span {
        font-size: 37px;
      }
    }
    @media (max-width: $md4 + px) {
      font-size: 38px;
      span {
        font-size: 30px;
      }
    }
  }
  // .info-block__descr
  &__descr {
    position: relative;
    z-index: 1;
    font-size: 24px;
    color: $palette_text_descr;
    text-align: center;
    text-shadow: 0 0 20px #000;
    @media (max-width: $md3 + px) {
      margin-top: 4px;
      font-size: 20px;
    }
    @media (max-width: $md4 + px) {
      margin-top: 14px;
      font-size: 18px;
      line-height: 1.2;
    }
  }
  // .info-block__decor
  &__decor {
    position: relative;
    z-index: 1;
    margin-top: 11px;
    width: 366px;
    height: 35px;
    background: url('../img/decor_01.png') center /contain no-repeat;
    @media (max-width: $md4 + px) {
      width: 280px;
      text-shadow: 0 0 20px #000;
    }
  }
  // .info-block__button
  &__button {
    position: relative;
    z-index: 1;
    @include adaptiv-value("font-size", 36, 22, 1);
  }
  // .info-block__items
  &__items {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  // .info-block__item
  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 12px;
    @include adaptiv-value("width", 97, 55, 1);
    @include adaptiv-value("height", 97, 55, 1);
    background: url('../img/icons/circle.png') center /contain no-repeat;
    cursor: pointer;
    picture {
      max-width: 87%;
    }
    img {
      max-width: 100%;
    }
    span {
      display: none;
    }
    @media (max-width: $md4 + px) {
      margin: 0 8px 12px;
    }
  }
}

.section-2 {
  padding: 280px 0 380px;
  @media (max-width: $md3 + px) {
    padding: 120px 0 100px;
  }
  // .section-2__container
  &__container {
  }
  // .section-2__body
  &__body {
  }
  // .section-2__info-block
  &__info-block {
    margin: 0 auto;
  }
  .info-block__title {
    transform: translateY(-60px);
  }
}

.section-3 {
  padding: 250px 0 630px;
  @media (max-width: $md3 + px) {
    padding: 180px 0 140px;
  }
  @media (max-width: $md4 + px) {
    padding: 40px 0 140px;
  }
  // .section-3__container
  &__container {
  }
  // .section-3__body
  &__body {
    display: flex;
    justify-content: flex-end;
  }
  // .section-3__info-block
  &__info-block {
  }
}

.section-4 {
  padding: 656px 0 0px;
  @media (max-width: $md1 + px) {
    padding: 0px 0 250px;
  }
  @media (max-width: $md3 + px) {
    padding: 450px 0 220px;
  }
  @media (max-width: 593px) {
    padding-top: 350px;
  }
  @media (max-width: 500px) {
    padding-top: 250px;
  }
  @media (max-width: 490px) {
    padding-top: 120px;
  }
  @media (max-width: 479px) {
    padding-top: 400px;
  }
  @media (max-width: 444px) {
    padding-top: 372px;
  }
  @media (max-width: 402px) {
    padding-top: 220px;
  }
  @media (max-width: 330px) {
    padding-top: 150px;
  }
  // .section-4__container
  &__container {
  }
  // .section-4__body
  &__body {
    display: flex;
    justify-content: flex-end;
  }
  // .section-4__info-block
  &__info-block {
    max-width: 1000px;
    .info-block__decor-right {
      right: -29px;
    }
  }
  .info-block__items {
    @media (max-width: 350px) {
      max-width: 280px;
    }
  }
}

.section-5 {
  padding: 1080px 0 0px;
  @media (max-width: $md1 + px) {
    padding-top: 820px;
  }
  @media (max-width: $md2 + px) {
    padding-top: 960px;
  }
  @media (max-width: $md3 + px) {
    padding-top: 558px;
    .info-block__title {
      text-shadow: 0 0 20px #000, 0 0 20px #000;
    }
    .info-block__descr {
      text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
    }
  }
  @media (max-width: 640px) {
    padding-top: 532px;
  }
  @media (max-width: 639px) {
    padding-top: 461px;
  }
  @media (max-width: 445px) {
    padding-top: 393px;
  }
  @media (max-width: 411px) {
    padding-top: 346px;
  }
  @media (max-width: 403px) {
    padding-top: 353px;
  }
  @media (max-width: 402px) {
    padding-top: 497px;
  }
  @media (max-width: 396px) {
    padding-top: 407px;
  }
  @media (max-width: 361px) {
    padding-top: 335px;
  }
  @media (max-width: 353px) {
    padding-top: 293px;
  }
  @media (max-width: 330px) {
    padding-top: 355px;
  }
  // .section-5__container
  &__container {
  }
  // .section-5__body
  &__body {
    display: flex;
    justify-content: center;
  }
  // .section-5__info-block
  &__info-block {
    @media (max-width: $md2 + px) {
      transform: translateY(-100px);
    }
  }
  .info-block__decor {
    @media (max-width: $md4 + px) {
      display: none;
    }
  }
  .info-block__items {
    @media (max-width: $md4 + px) {
      margin-top: 20px;
    }
  }
  .info-block__title {
    transform: translateY(20px);
  }
}

.section-6 {
  padding: 656px 0 310px;
  @media (max-width: $md1 + px) {
    padding-top: 430px;
  }
  @media (max-width: $md2 + px) {
    padding: 430px 0 436px;
  }
  @media (max-width: $md3 + px) {
    padding: 198px 0 286px;
  }
  @media (max-width: 640px) {
    padding: 198px 0 186px;
  }
  @media (max-width: 534px) {
    padding: 125px 0 248px;
  }
  @media (max-width: 545px) {
    padding: 198px 0 175px;
  }
  @media (max-width: 523px) {
    padding: 151px 0 175px;
  }
  @media (max-width: 490px) {
    padding: 140px 0 147px;
  }
  @media (max-width: 479px) {
    padding: 202px 0 177px;
  }
  @media (max-width: 470px) {
    padding: 202px 0 140px;
  }
  @media (max-width: 430px) {
    padding: 177px 0 140px;
  }
  @media (max-width: 376px) {
    padding: 150px 0 140px;
  }
  @media (max-width: 361px) {
    padding: 120px 0 140px;
  }
  @media (max-width: 326px) {
    padding: 120px 0 113px;
  }
  // .section-6__container
  &__container {
  }
  // .section-6__body
  &__body {
    display: flex;
    justify-content: flex-end;
  }
  // .section-6__info-block
  &__info-block {
    // padding-right: 100px;
  }
  .info-block__decor-right {
    top: -55px;
    right: -44px;
    width: 100%;
    height: 122%;
    background: url('../img/decor_04.png') center /contain no-repeat;
  }
}

// Companies
.companies {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  padding-bottom: 50px;
  // .companies__container
  &__container {
  }
  // .companies__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: auto;
    @media (max-width: 1040px) {
      flex-wrap: wrap;
    }
  }
  // .companies__item
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 20%;
    min-width: 200px;
    padding: 0px 20px 20px;
    text-align: center;
    transition: filter .3s ease 0s;
    picture {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    img {
      max-width: 100%;
    }
    &:hover {
      @extend %invert;
    }
    @media (max-width: 1040px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: 630px) {
      flex: 0 1 140px;
      padding: 0px 15px 20px;
      width: 140px;
    }
    @media (max-width: $md4 + px) {
      flex: 0 1 50%;
      min-width: 130px;
    }
  }
}


// *********************** Info ************************** //

body.internal {
  background-image: none;
  .wrapper {
    background-color: #19130F;
    background-image:
      url('../img/internal_shadowtop.png'),
      url('../img/internal_header_bg.png');
    background-size: 100% auto, auto 2481px;
    background-position: center top 466px, center top;
    background-repeat: no-repeat, no-repeat;
    @media (max-width: 1703px) {
      background-size: auto, auto 2170px;
    }
    @media (max-width: 1200px) {
      background-size: auto, auto 2370px;
    }
    @media (max-width: $md3 + px) {
      background-size: auto, auto 2145px;
    }
    @media (max-width: $md4 + px) {
      background-size: auto, auto 1885px;
    }
  }
}

.internal {
  .main {
    &__body {
      padding-top: 75px;
      margin-bottom: 0;
    }
    &__capabilitys {
      margin-top: 196px;
      @media (min-width: 1200px) and (min-height: 900px) {
        margin-top: 108px;
      }
    }
  }

  .main__logo {
    margin-bottom: -234px;
    @media (max-width: 1703px) {
      margin-bottom: -191px;
    }
    @media (max-width: $md3 + px) {
      margin-bottom: -150px;
    }
    @media (max-width: $md4 + px) {
      margin-bottom: -101px;
    }
    @media (min-width: 1200px) and (max-height: 900px) {
      margin-bottom: -173px;
    }
  }

  .footer {
    margin-top: -386px;
    @media (max-width: $md3 + px) {
      margin-top: -296px;
    }
    &__companys {
    }
    &__body {
      padding-top: 50px;
      @media (max-width: $md3 + px) {
        padding-top: 0;
      }
    }
  }
}

.internal-section {
  background: url('../img/roll.png');
  background-position: left calc(50% + 54px) top -87px;
  background-size: 2200px 100%;
  background-repeat: no-repeat;
  transform: translateY(-135px);
  @media (max-width: 1770px) {
    background-position: left calc(50% + 29px) top -87px;
    background-size: 2000px 100%;
  }
  @media (max-width: 1600px) {
    background-size: 1870px 100%;
  }
  @media (max-width: 1529px) {
    background-size: 1684px 100%;
  }
  @media (max-width: $md3 + px) {
    transform: translateY(-101px);
  }
  @media (max-width: $md4 + px) {
    transform: translateY(-101px);
  }
  // .internal-section__container
  &__container {
  }
  // .internal-section__body
  &__body {
    display: flex;
    justify-content: center;
  }
  // .internal-section__info-internal
  &__info-internal {
  }
}

.info-internal {
  min-height: 2378px;
  padding: 250px 50px 50px 158px;
  @media (max-width: 1770px) {
    padding: 250px 130px 50px 130px;
  }
  @media (max-width: 1600px) {
    padding: 250px 130px 50px 170px;
  }
  @media (max-width: 1529px) {
    padding: 250px 130px 50px 166px;
  }
  @media (max-width: 1387px) {
    padding: 250px 50px 50px 110px;
  }
  @media (max-width: 1200px) {
    padding: 250px 30px 50px 50px;
  }
  @media (max-width: $md3 + px) {
    padding: 181px 27px 50px 21px;
    min-height: 1900px;
  }
  @media (max-width: $md4 + px) {
    padding: 181px 0 50px 0px;
    min-height: 1900px;
  }
  @media (max-width: 320px) {
    min-height: 2000px;
  }
  // .info-internal__title
  &__title {
    margin-bottom: 41px;
    @include adaptiv-value("margin-bottom", 41, 23, 1);
    font-family: StandragRegular, sans-serif;
    font-size: 118px;
    @include adaptiv-value("font-size", 118, 60, 1);
    line-height: math.div(120, 118) * 100%;
    color: $palette_internal_title;
  }
  // .info-internal__subtitle
  &__subtitle {
    margin-bottom: 47px;
    @include adaptiv-value("margin-bottom", 47, 35, 1);
    font-family: AlbertusExtraBold, sans-serif;
    @include adaptiv-value("font-size", 45, 28, 1);
    line-height: 1;
    color: $palette_internal_subtitle;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  // .info-internal__text
  &__text {
    margin-bottom: 30px;
    @include adaptiv-value("margin-bottom", 30, 16, 1);
    font-family: Philosopher, sans-serif;
    font-size: 30px;
    @include adaptiv-value("font-size", 30, 16, 1);
    line-height: math.div(36, 30) * 100%;
    color: #605950;
  }
  // .info-internal__list
  &__list {
  }
  // .info-internal__item
  &__item {
    position: relative;
    padding-left: 24px;
    font-family: Philosopher, sans-serif;
    @include adaptiv-value("font-size", 30, 16, 1);
    line-height: math.div(36, 30) * 100%;
    color: #605950;
    &::before {
      content: '◊';
      position: absolute;
      top: 2px;
      left: 0;
      display: inline-block;
      width: 10px;
      height: 10px;
    }
    @media (max-width: $md4 + px) {
      font-size: 16px;
    }
  }
  a {
    color: $palette_internal_link;
    &:active {
      color: $palette_internal_link_active;
    }
  }
}


// *********************** Roadmap ************************** //

body.roadmap {
  background-image: none;
  .wrapper {
    background-color: #19130F;
    background-image:
      url('../img/roadmap_footer_bg.png'),
      url('../img/internal_header_bg.png');
    background-size: 111% auto, auto 2481px;
    background-position: center bottom, center top;
    background-repeat: no-repeat, no-repeat;
  }

  .wrapper {
    background-color: #19130F;
    background-image:
      url('../img/roadmap_footer_bg.png'),
      url('../img/internal_header_bg.png');
    background-size: cover, auto 2481px;
    background-position: center bottom -160px, center top;
    background-repeat: no-repeat, no-repeat;
    @media (max-width: 1703px) {
      background-size: cover, auto 2141px;
    }
    @media (max-width: $md4 + px) {
      background-size: cover, auto 1902px;
    }
  }
}

.roadmap {
  .main__capabilitys {
    @media (max-width: 787px) {
      margin-top: 280px;
    }
    @media (max-width: 1703px) and (max-height: 900px) {
      margin-top: 188px;
    }
    @media (min-width: 1703px) and (max-height: 900px) {
      margin-top: 288px;
    }
    @media (max-width: 1200px) and (max-height: 900px) {
      margin-top: 118px;
    }
    @media (max-width: 1200px) and (min-height: 900px) {
      margin-top: 118px;
    }
    @media (max-width: 787px) {
      margin-top: 158px;
    }
    @media (max-width: $md3 + px) {
      margin-top: 328px;
    }
    @media (max-width: $md4 + px) {
      margin-top: 310px;
    }
  }
}

.roadmap .internal-section {
  background: url('../img/roll_2.png');
  background-position: center top;
  background-size: 1814px auto;
  background-repeat: no-repeat;
  transform: translateY(0);
  @media (max-width: 1600px) {
    background-size: 1574px 100%;
  }
  @media (max-width: 787px) {
    transform: translateY(-60px);
  }
  @media (max-width: $md3 + px) {
    transform: translateY(-90px);
  }
  @media (max-width: $md4 + px) {
    transform: translateY(-50px);
  }
  // .internal-section__container
  &__container {
  }
  // .internal-section__body
  &__body {
    display: block;
  }
  // .internal-section__info-internal
  &__info-internal {
  }
}

.info-roadmap {
  position: relative;
  min-height: 1378px;
  padding: 110px 50px 50px 148px;
  @media (max-width: 1682px) {
    padding: 110px 50px 50px 68px;
  }
  @media (max-width: 1469px) {
    padding: 110px 0px 50px 0px;
  }
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    padding: 110px 0px 330px 0px;
  }
  @media (max-width: 704px) {
    padding: 150px 0px 330px 0px;
  }
  @media (max-width: $md4 + px) {
    padding: 150px 0px 330px 0px;
  }
  // .info-roadmap__title
  &__title {
    max-width: 686px;
    img {
      max-width: 100%;
    }
    @media (max-width: 1300px) {
      margin: 0 auto 50px;
      margin-bottom: 50px;
      max-width: 530px;
    }
  }
  // .info-roadmap__body
  &__body {
    transform: translateY(-170px);
    @media (max-width: 1300px) {
      transform: translateY(0);
      flex: 1 0 auto;
    }
  }
  // .info-roadmap__list-top,
  // .info-roadmap__list-bottom
  &__list-top,
  &__list-bottom {
    display: flex;
    justify-content: center;
    @media (max-width: 1300px) {
      align-items: flex-start !important;
      flex-wrap: wrap;
    }
  }
  &__list-top {
    align-items: flex-end;
    margin: 0 -25px;
    @media (max-width: 1469px) {
      margin: 0 -12.5px;
    }
  }
  // .info-roadmap__list-bottom
  &__list-bottom {
    align-items: flex-start;
    .info-roadmap__list-block {
      min-width: 296px;
      min-height: 278px;
      padding: 0 20px 40px 0px;
    }
    .info-roadmap__time {
      margin-bottom: 20px;
    }
    .info-roadmap__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // .info-roadmap__list-column
  &__list-column {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    padding: 0 50px 0px;
    @media (max-width: 1469px) {
      padding: 0 25px 0px;
    }
    @media (max-width: 1004px) {
      flex: 0 1 50%;
    }
  }
  // .info-roadmap__list-block
  &__list-block {
    min-width: 280px;
    padding: 30px 20px 0px 0px;
    background-position: right 0px top -63px;
    background-repeat: no-repeat;
    @media (max-width: 1004px) {
      width: 300px;
    }
    @media (max-width: $md4 + px) {
      max-width: 280px;
    }
    @media (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      padding: 0;
      background-image: none !important;
      .info-roadmap__time {
        margin-bottom: 20px;
        text-align: center;
      }
      &_1,
      &_2,
      &_3,
      &_4 {
        .info-roadmap__time {
          order: -1;
        }
      }
    }
    &_1 {
      background-image: url('../img/rm_dec_1.png');
    }
    &_2 {
      background-image: url('../img/rm_dec_1.png');
      background-position: right 0px top -58px;
      background-size: auto 113%;
    }
    &_3 {
      background-image: url('../img/rm_dec_4.png');
      background-position: right 0px top -6px;
      background-size: auto;
      .info-roadmap__time {
        text-align: center;
      }
    }
    &_4 {
      background-image: url('../img/rm_dec_4.png');
      background-position: right 0px top -6px;
      background-size: auto;
      .info-roadmap__time {
        text-align: center;
      }
    }
    &_5 {
      background-image: url('../img/rm_dec_3.png');
      background-position: right 0px top 9px;
      background-size: auto;
    }
    &_6 {
      background-image: url('../img/rm_dec_2.png');
      background-position: right 0px top 9px;
      background-size: auto;
      .info-roadmap__time {
        text-align: center;
      }
    }
    &_7 {
      background-image: url('../img/rm_dec_3.png');
      background-position: right 0px top 9px;
      background-size: auto;
      .info-roadmap__time {
        text-align: center;
      }
    }
  }
  // .info-roadmap__item-list
  &__item-list {
  }
  // .info-roadmap__item
  &__item {
    margin-bottom: 20px;
    position: relative;
    padding-left: 27px;
    font-family: Philosopher, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../img/rm_mark.png') center /contain no-repeat;
    }
  }
  // .info-roadmap__time
  &__time {
    font-family: AlbertusExtraBold, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: $palette_internal_time;
    text-transform: uppercase;
  }
  // .info-roadmap__timeline
  &__timeline {
    width: 100%;
    height: 87px;
    background-image: url('../img/timeline.png');
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 1300px) {
      display: none;
    }
  }
  // .info-roadmap__footer
  &__footer {
    display: flex;
    align-items: center;
    margin-right: -30px;
    margin-left: -30px;
    height: 133px;
    padding: 50px 110px;
    background-image: url('../img/frame.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translateY(-120px);
    @media (max-width: 1600px) {
      margin-right: 0;
      margin-left: 0;
      padding: 50px 170px;
      background-size: 97% 100%;
      transform: translateY(-52px);
    }
    @media (max-width: 1300px) {
      position: absolute;
      bottom: 0;
      left: 0;
      @include adaptiv-value("padding-top", 47, 17, 1);
      @include adaptiv-value("padding-bottom", 53, 23, 1);
      @include adaptiv-value("padding-left", 100, 10, 1);
      @include adaptiv-value("padding-right", 100, 10, 1);
      transform: translateY(-140px);
    }
    @media (max-width: $md3 + px) {
      background-image: none !important;
      transform: none;
      bottom: 150px;
    }
    @media (max-width: $md4 + px) {
      bottom: 161px;
    }
  }
  // .info-roadmap__footer-text
  &__footer-text {
    font-family: Philosopher, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    span {
      color: $palette_roadmap_footer_text;
    }
    @media (max-width: $md2 + px) {
      font-size: 14px;
    }
    @media (max-width: $md4 + px) {
      font-size: 12px;
    }
  }
}

.roadmap .footer {
  margin-top: 0;
}